* {
  margin: 0%;
  padding: 0%;
}
.container {
  height: 100vh;
  background-image: url('./images/bg2.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
}
.bird {
  position: absolute;
  top: 50px;
  left: 0px;
}
.bird img {
  height: 100px;
}
.bird2 {
  position: absolute;
  top: 150px;
  left: 100px;
}
.bird2 img {
  height: 100px;
}
.bird3 {
  position: absolute;
  top: 130px;
  left: 100px;
}
.bird3 img {
  height: 100px;
}
.tree1 {
  position: absolute;
  bottom: 110px;
  left: 0px;
}
.tree img {
  height: 150px;
}
.tree2 {
  position: absolute;
  bottom: 30px;
  left: 0px;
}
.tree2 img {
  height: 230px;
}

.boy {
  background-image: url('./images/boy.png');
  width: 256px;
  height: 256px;
  position: absolute;
  bottom: 80px;
  left: 400px;
}
.tap {
  position: absolute;
  bottom: 5px;
  left: 5px;
}
